.btn {
  width: 112.3px;
  position: relative;
  height: 34px;
  display: block;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  .before {
    position: absolute;
    top: 3px;
    left: 3px;
    transition: all 0.3s ease;
    // transform: rotate(45deg);
  }
  .next {
    position: absolute;
    right: 3px;
    bottom: 3px;
    // transform: rotate(41deg);
    transition: all 0.3s ease;
  }

  &:hover {
    .next {
      right: -14px;
      bottom: -18px;
      opacity: 0;
    }
  }
  &:hover {
    .before {
      top: -14px;
      left: -16px;
      opacity: 0;
    }
  }
}

.shopIcon {
  filter: invert(100%) sepia(0%) saturate(7497%) hue-rotate(337deg)
    brightness(99%) contrast(103%);
  .before {
    top: -1px !important;
    // transform: rotate(45deg);
  }
  .next {
    position: absolute;
    right: 3px;
    bottom: -1px;
    // transform: rotate(41deg);
    transition: all 0.3s ease;
  }
}
