.circle {
  font-size: 13px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  margin-top: 3px;
}

.container {
  margin: 46px 0 36px 0;
  color: #181617;
  font-size: 14px;
  font-family: Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
}

ul>li{
  margin: 0px 4.7px 9px 9.1px;
}
.logoImg{
  padding-left: 150px;
}