.howToWareItDropdown {
  position: absolute;
  bottom: 9px;
  right: 9px;
  border: 1px solid #fff;
  height: 26x;
  // padding: 4px 12px;
  .icon {
    background: #fff;
    margin-left: 12px;
    height: 100%;
    // padding: 3px;
    display: flex;
    align-items: center;
  }
  .howTo{
    // padding: 3px 3px 4px 4px;
    font-weight: bold;
    padding-left: 4px;
    font-size: 12px;
  }
}
