 .line1{
    height: 1px;
    margin: 5px 0 2px 0;
    border: solid 0.1px #e1dfdf
 }
 .line2{
    height: 1px;
    margin: 0px 0 3px 0;
    border: solid 0.1px #e1dfdf
 }
 .lineContainer{
    margin-left: 3.8rem;
    width: 100vw;
 }