.circlesContainer {
  @include left("margin", 3px);
  display: flex;
  flex-direction: column;
  gap: 4px;
  float: left;
  @include left("margin", -65px);
  div {
    cursor: pointer;
  }
}
.progress{
  margin-top: 20px;
}
.pageLi{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: auto;
  li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    border: 1px solid grey;
    padding: 1rem;
    margin-top: 5px;
    cursor: pointer;
    margin-right: 0.5rem;

  }
}
.reqBtn{
  float: right;
  padding: 10px;
  cursor: pointer;
  button{
    padding: 5px;
    background-color: black;
    color: white;
  }
}