.circlesContainer {
  @include left("margin", 3px);
  display: flex;
  flex-direction: column;
  gap: 4px;
  float: left;
  @include left("margin", -65px);
  div {
    cursor: pointer;
  }
}
.progress {
  margin-top: 20px;
}
.pageLi {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: auto;
  li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    border: 1px solid grey;
    padding: 1rem;
    margin-top: 5px;
    cursor: pointer;
    margin-right: 0.5rem;
  }
}
.reqBtn {
  float: right;
  padding: 10px;
  cursor: pointer;
  button {
    padding: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    outline: none;
  }
}

.pageSec {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.prevNextBtn {
  padding: 4px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  margin: 10px 3px;
}
.detailCard {
  padding: 10px 10px;
  .detailSubCard {
    padding: 5px 5px;
    div{
      display: flex;
      line-height: 32px;
      span{
        width: 15rem;
      }
    }
  }
}
.hoverCopy{
  display: none;
  z-index: 1000;
}
.orderCopy{
  &:hover{
    .hoverCopy{
      display: block;
      padding-left: 10px;
      z-index: 100000;
      color: lightgray
      ;
    }
  }
}
