.topBarcontainer {
  height: 37px;
  .topBarRight {
    margin-left: 95px;
    display: flex;
    align-items: center;
    @include mobile {
      background-color: red;
    }
    @include tablet {
      background-color: blue;
    }
  }
  .topBarMsg {
    line-height: 22px;
    font-size: 14px;
  }
  .topBarLeft {
    padding-right: 75px;
    padding-left: 12px;
    background-color: $color-skin;
  }
  .flag {
    padding: 12px 5px;
  }

  .select {
    border: none;
    background-color: $color-skin;
    border-radius: 0px;
    font-size: 14px;
    padding: 0px 5px;
    margin-right: 5px;
    width: 10rem;
  }
}
