.circlesContainer {
  @include left("margin", 3px);
  display: flex;
  flex-direction: column;
  gap: 4px;
  float: left;
  @include left("margin", -65px);
  div {
    cursor: pointer;
  }
}
.contentConatiner {
  width: 100%;
  .title {
    font-weight: normal;
  }
}
.confirmCard{
  display: flex;
  flex-direction: column;
  height: 13rem;
  overflow: auto;
}
