.card {
  padding: 12px;
  border: 1px solid #ddd;
  margin: 20px 0;
  .carItem {
    margin-top: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .col1 {
      display: flex;
      .img {
        @include right('margin', 20px);
        width: 10rem;
        position: relative;
        input {
          position: absolute;
          width: 1.2rem;
          height: 1.2rem;
        }
      }
      .colorSize {
        display: flex;
        margin-top: 5px;
        span {
          font-size: 14px;
          &:nth-child(1) {
            width: 50px;
            display: inline-block;
          }
        }
      }
    }
    .deliveredIcon {
      width: 100px;
      height: 100px;
      font-size: 1rem;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      color:#fff;
      border: solid 2px #26a541;
      background-color: #26a541;
    }
    .processIcon {
      width: 100px;
      height: 100px;
      font-size: 1rem;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      color:#fff;
      border: solid 2px orange;
      background-color: orange;
    }
  }
  
  .icon {
    @include right('margin', 12px);
  }
}
.incrementWrap{
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  .statusText{
    margin-right: 10rem;
  }
}
.reorder{
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}
.orderDate{
  padding-top: 0.5rem;
  width: 10rem;
  color: gray;
}

