.card {
  margin: 20px 0;
  display: inline-block;
  transition: all 0.3s ease-in;
  flex-basis: 50%;
  .cardBody {
    padding-top: 7px;
    padding-bottom: 7px;
    box-shadow: 0.4px 5px 16px 0 rgba(0, 0, 0, 0.1);
    min-height: 125px;
    margin: 12px;
    margin-left: 0px;
    max-height: 125px;
    &:hover {
      .cartImage {
        opacity: 1;
      }
    }
    .cardImg {
      display: flex;
      position: relative;
      img {
        min-height: 87px;
        border-radius: 8px;
        object-fit: contain;
      }
    }
    .cardText {
      margin-left: 0px;
      width: 100%;
      padding-top: 14px;
      padding-right: 9px;
      // background-color: #fdfbfb;
      .title {
        color: #535353;
        margin-bottom: 6px;
        font-size: 14px;
      }

      .crosedPrice {
        margin-right: 12px;
        color: #535353;
      }
    }
  }
  &:hover {
    transform: translateY(-4px);
    .title {
      text-decoration: underline;
      color: $color-primary !important;
    }
  }
}

.cartImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  padding: 5px;
  opacity: 0;
  width: 30px;
  height: 30px;
  padding: 7px 5.9px 5.8px 6px;
  box-shadow: 0.2px 2px 2px 0 rgba(61, 59, 59, 0.16);
  background-color: #d12003;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recentLyViwed_title {
  font: 1.2rem;
}
.titelMrgn {
  font-size: 1.375rem;
  // margin-left: 12px;
}
.arrowBtn {
  display: flex;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  cursor: pointer;
  background-color: black;
  color: #d0cfcf;
  margin: 4px;
  // padding: 3px;
}
.col {
  flex-basis: 50%;
  width: 50%;
}
#borderBotm {
  border-bottom: 1px solid #eae6e6;
}
