.card {
  margin: 20px 0;
  display: inline-block;
  transition: all 0.3s ease-in;
  .cardBody {
    padding: 12px;
    box-shadow: 0.4px 5px 16px 0 rgba(0, 0, 0, 0.1);
    min-height: 125px;
    margin: 12px;
    max-height: 125px;

    .cardImg {
      display: flex;
      img {
        min-height: 87px;
        border-radius: 8px;
        object-fit: contain;
      }
    }
    .cardText {
      margin-left: 12px;
      width: 100%;
      padding: 12px;
      background-color: #fdfbfb;
      .title {
        color: #535353;
        margin-bottom: 12px;
        font-size: 14px;
      }

      .crosedPrice {
        margin-right: 12px;
        color: #535353;
      }
    }
  }
  &:hover {
    transform: translateY(-4px);
    .title {
      text-decoration: underline;
      color: $color-primary !important;
    }
  }
}

.recentLyViwed_title {
  font: 1.2rem;
}
.titelMrgn {
  font-size: 1.375rem;
  margin-left: 12px;
}
.arrowBtn {
  display: flex;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  cursor: pointer;
  background-color: black;
  color: white;
  margin: 5px;
}
.col {
  flex-basis: 50%;
  width: 50%;
}
#borderBotm {
  border-bottom: 1px solid #eae6e6;
}
