$color-primary: #fe6f61;
$color-primary-hover: #e6594c;
$color-text-primary: #d12003;
$color-black: #000000;
$light-black: #444343;
$font-black: #181617;
$footer-bg: #181617;
$text-grey: #a2a2a2;
$color-white: #ffffff;
$color-grey: #efefef;
$color-skin: #e6d19a;
$font-light-black: #181617;
$light-pink: #f5f5f5;
$sec-title-size: 1.6rem;
$font-size-normal: 1rem;
$font-size-small: 0.8rem;
$font-size-medium: 1.8rem;
$font-size-big: 2.5rem;
