.topBarcontainer {
  height: 37px;
  .topBarRight {
    margin-left: 94px;
    display: flex;
    align-items: center;
    max-width: 15vw;
    @include mobile {
      background-color: red;
    }
    @include tablet {
      background-color: blue;
    }
  }
  .topBarMsg {
    line-height: 22px;
    font-size: 14px;
    margin: 0px auto;
    text-align: center;
  }
  .topBarMsgWrapper{
    text-align: center;
  }
  .topBarLeft {
    background-color: $color-skin;
    padding: 12px 114px 10.6px 10px;
    max-width: 20vw;
  }
  .flag {
    padding: 12px 5px;
  }

  .select {
    border: none;
    background-color: $color-skin;
    border-radius: 0px;
    font-size: 14px;
    padding: 0px 5px;
    margin-right: 5px;
    width: 65px;
  }
}
