.topBarcontainer {
  height: 37px;
  .topBarRight {
    margin-left: 94px;
    display: flex;
    align-items: center;
    max-width: 15vw;
    @include mobile {
      background-color: red;
    }
    @include tablet {
      background-color: blue;
    }
  }
  .topBarMsg {
    line-height: 22px;
    font-size: 14px;
    margin: 0px auto;
    text-align: center;
  }
  .topBarMsgWrapper{
    text-align: center;
  }
  .topBarLeft {
    background-color: $color-skin;
    padding: 12px 114px 10.6px 10px;
    max-width: 20vw;
  }
  .flag {
    padding: 12px 5px;
  }

  .select {
    border: none;
    background-color: $color-skin;
    border-radius: 0px;
    font-size: 14px;
    padding: 0px 5px;
    margin-right: 5px;
    max-width: 100px;
  }
  .curImage{  
    width: 20.8px;
    height: 15.6px;
    margin: 0 13.4px 12.6px 0;
    object-fit: contain;
  }
  .curName{
    margin-left:10px ;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }
  .curSelected{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }
  .curSelectedImage{
    width: 20.8px;
    height: 15.6px;
    object-fit: contain;
  }
}
