.productCard {
  // max-width: 281px;
  // width: 281px;
  // height: 400px;
  width: 100%;
  margin: 10px 0px 10px 0px;
  text-align: center;
  font-family: arial;
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  &:hover {
    box-shadow: 0.4px 5px 8px 0 rgba(212, 206, 206, 0.39);
  }

  .imageContainer img {
    position: relative;
    width: 100%;
    object-fit: contain;
    background: #ddd;
  }

  .productName {
    height: 18px;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: center;
    color: #161616;
    cursor: pointer;
    margin-top: 5px;
  }

  .productPrice {
    font-size: 10px;
    font-weight: 500;
    margin-top: 5px;
    justify-content: center;

    .was {
      display: inline-block;
      height: 18px;
      margin-right: 8px;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.47;
      letter-spacing: normal;
      text-align: center;
      color: #5c5959;
      text-decoration: line-through;
    }

    .now {
      display: inline-block;
      height: 18px;
      font-size: 15px;
      font-weight: normal;
      margin-left: 8px;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.47;
      text-align: center;
      letter-spacing: normal;
      color: #d12003;
    }
  }

  .actionContainer {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 15px;
    font-weight: 500;
    background-color: transparent;

    div {
      margin: 5px 5px 0px 0px;
      box-shadow: 0.3px 3px 2px 0 rgba(148, 144, 144, 0.33);
      background-color: #ffffff;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }

    span {
      padding: 5px;
      font-size: 15px;
    }
  }
}

.color {
  height: 13px;
  display: inline-block;
  width: 13px;
  margin: 2px;
  background-color: #b28965;
  border-radius: 50%;
  // box-shadow: 0px 0px 0px 1px #ffffff inset;
  &:hover {
    transform: scale(1.25);
    filter: brightness(80%);
  }
  &_red {
    background-color: #e45850;
  }
  &_blue {
    background-color: #23a7f3;
  }
  &_oranage {
    background-color: #f58c30;
  }
  cursor: pointer;
}
