.circlesContainer {
  @include left("margin", 3px);
  display: flex;
  flex-direction: column;
  gap: 4px;
  float: left;
  @include left("margin", -65px);
  div {
    cursor: pointer;
  }
}

.progress{
  margin-top: 20px;
}
