.greyText {
  color: #6a6565;
}
.addAddressBtn {
  background-color: #000000;
  color: #fff;
  min-width: 204.2px;
  height: 41px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.header {
  margin: 30px auto;
  .logo {
    display: inline-block;
    img {
      width: 184px;
      height: 36px;
      object-fit: contain;
    }
  }
  .breadCrumb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    .bcLinks {
      display: flex;
      align-items: center;
      gap: 12px;
    }
    .backBtn {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
}
.defualtAddressArea{
  margin-bottom: 100px;
}
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 40px;
  .title {
    font-family: Roboto;
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 10px;
  }
  .columnLeft {
    padding-right: 30px;
    .deliveryAddress {
      margin-top: 40px;
      margin-bottom: 12px;
      padding-bottom: 40px;
      border-bottom: 1px solid rgb(177, 177, 177);
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3,
      h4 {
        line-height: 2;
      }
      .changeBtn {
        background-color: transparent;
        border: solid 1px #000000;
        padding: 12px 20px;
      }
    }

    .addAddressBtn {
      background-color: #000000;
      color: #fff;
      min-width: 204.2px;
      height: 41px;
      border: none;
      cursor: pointer;
    }
    .shippingMethod {
      margin-top: 30px;
      h3 {
        margin-bottom: 9px;
      }
    }

    .subBtns {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 20px;
      margin-top: 30px;
      .returnBtn {
        width: 254.2px;
        height: 41px;
        border: 1px solid black;
        text-align: center;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        span {
          font-size: 13px;
          color: rgb(56, 56, 56);
          margin-right: 14px;
        }
      }
      .continueBtn {
        width: 254.2px;
        height: 41px;
        border: none;
        text-align: center;
        background-color: #f6f7f9;
        cursor: pointer;
      }
    }
  }
  .columnRight {
    padding: 17px;
    background: #f6f7f9;
  }
}

