.form {
  padding: 13px;
  border: 1px solid #000;
  .smallText {
    font-size: 14px;
  }
  .star {
    color: #f7591a;
  }
  .inputContainer {
    margin: 15px 0;
    max-width: 300px;
    input {
      margin-top: 4px;
      padding: 12px;
      border: 1px solid #000;
      width: 100%;
      font-size: 1rem;
      &:focus {
        outline: none;
      }
    }
  }
}
.submitBtn {
  background: #000;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
  &:hover {
    opacity: 0.7;
  }
}
