.container{
    margin-top: 58px;
    margin-bottom: 31px;
    .title{
        font-size: 1.3rem;
        font-weight: 700;
        color: black;
        text-align: center;
        margin: 20px 0;
    }
}