.product-page {
    position: relative;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;

    /* Using flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;

    .preview {
        width: 75px;
        margin-right: 10px;
        .img {
            height: 100px;
            width: 75px;
            margin-bottom: 10px;
        }

        .btn {
            height: 33px;
            width: 33px;
            background-color: #f3f3f3;
            border-radius: 50%;
            cursor: pointer;
        }
    }

    .slider {
        width: 475px;
        text-align: center;
        order: 0;
        margin-right: 50px;
        flex: 0 1 auto;

        .slide {
            position: relative;
            .action-container-top-right {
                position: absolute;
                top: 4px;
                right: 4px;
                font-size: 15px;
                font-weight: 500;
                background-color: transparent;

                div {
                    margin: 5px 5px 0px 0px;
                    box-shadow: 0.3px 3px 2px 0 rgba(148, 144, 144, 0.33);
                    background-color: #ffffff;
                    border-radius: 50%;
                    cursor: pointer;
                    &:hover {
                        transform: scale(1.1);
                    }
                }

                span {
                    padding: 5px;
                    font-size: 15px;
                }
            }

            .action-container-top-left {
                position: absolute;
                top: 4px;
                left: 4px;
                font-size: 16px;
                font-weight: 500;
                background-color: transparent;

                div {
                    display: flex;
                    height: 24px;
                    width: 78px;
                    margin: 0px 0px 5px 5px;
                    box-shadow: 0.3px 3px 2px 0 rgba(148, 144, 144, 0.33);
                    background-color: red;
                    color: white;
                    cursor: pointer;
                    font-weight: 800;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.69;
                    letter-spacing: normal;
                    align-items: center;
                    justify-content: center;
                    &:hover {
                        transform: scale(1.1);
                    }
                }

                span {
                    padding: 5px;
                    font-size: 15px;
                }
            }

            .action-container-bottom-right {
                position: absolute;
                bottom: 4px;
                right: 4px;
                font-size: 15px;
                font-weight: 500;
                background-color: transparent;

                div {
                    margin: 0px 5px 5px 0px;
                    box-shadow: 0.3px 3px 2px 0 rgba(148, 144, 144, 0.33);
                    background-color: #ffffff;
                    border-radius: 50%;
                    cursor: pointer;
                    &:hover {
                        transform: scale(1.1);
                    }
                }

                span {
                    padding: 5px;
                    font-size: 15px;
                }
            }
        }
    }

    .details {
        width: 550px;
    }

    .share {
        cursor: pointer;
        height: 31px;
        width: 31px;
        background-color: #f3f3f3;
        border-radius: 50%;
    }
}

.section-header-container {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
