.simpleCardGap {
  img {
    padding: 7px;
  }
}
.sectionHeaderContainer {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.sliderTitle {
  text-align: center;
  font-size: 1.2rem;
  margin: 20px auto;
}
