.container {
  margin: 100px auto;
  max-width: 60%;
  .row {
    display: flex;
    justify-content: space-between;
    .col {
      .title {
        color: $color-black;
        font-weight: 600;
        font-size: 1.3rem;
      }
      p {
        margin-bottom: 4px;
        color: #181617;
        font-size: 1.09rem;
      }
      .text {
        max-width: 80%;
        font-size: 1.09rem;
      }
    }
  }
}
