.product {
  display: grid;
  grid-template-columns: 33fr 35fr;
  .colorItem {
    height: 13px;
    display: inline-block;
    width: 13px;
    margin-left: 5px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    &:hover {
      border: solid 1px #2c2a2a;
    }
  }
  .active {
    border: solid 1px #2c2a2a;
  }
  .mainImage {
    position: relative;
    .actionContainerTopRight {
      position: absolute;
      top: 4px;
      right: 4px;
      font-size: 15px;
      font-weight: 500;
      background-color: transparent;

      div {
        margin: 5px 5px 0px 0px;
        box-shadow: 0.3px 3px 2px 0 rgba(148, 144, 144, 0.33);
        background-color: #ffffff;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
        }
      }

      span {
        padding: 5px;
        font-size: 15px;
      }
    }

    .actionContainerTopLeft {
      position: absolute;
      top: 4px;
      left: 4px;
      font-size: 16px;
      font-weight: 500;
      background-color: transparent;

      div {
        display: flex;
        height: 24px;
        width: 78px;
        margin: 0px 0px 5px 5px;
        box-shadow: 0.3px 3px 2px 0 rgba(148, 144, 144, 0.33);
        background-color: red;
        color: white;
        cursor: pointer;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.69;
        letter-spacing: normal;
        align-items: center;
        justify-content: center;
        &:hover {
          transform: scale(1.1);
        }
      }

      span {
        padding: 5px;
        font-size: 15px;
      }
    }

    .actionContainerBottomRight {
      position: absolute;
      bottom: 4px;
      right: 4px;
      font-size: 15px;
      font-weight: 500;
      background-color: transparent;

      div {
        margin: 0px 5px 5px 0px;
        box-shadow: 0.3px 3px 2px 0 rgba(148, 144, 144, 0.33);
        background-color: #ffffff;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
        }
      }

      span {
        padding: 5px;
        font-size: 15px;
      }
    }
  }

  .details {
    padding: 40px 22px 0px 75px;
    .bestSeller {
      width: 72px;
      height: 19px;
      font-family: Jost;
      font-size: 13px;
      font-weight: 700;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.69;
      letter-spacing: normal;
      text-align: left;
      color: #181617;
    }

    .name {
      font-family: Jost;
      font-size: 28px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.85;
      letter-spacing: normal;
      text-align: left;
      margin-top: 6px;
      margin-bottom: 7px;
      color: #181617;
    }

    .stars {
      margin-top: 5px;
    }

    .rating {
      width: 58px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 700;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #181617;
      margin-top: 5px;
      margin-left: 14px;
    }

    .price {
      margin-top: 20px;
      .was {
        font-family: Jost;
        font-size: 20px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.1;
        letter-spacing: normal;
        text-align: left;
        color: #5c5959;
        text-decoration: line-through;
        margin-right: 25px;
      }

      .now {
        font-family: Jost;
        font-size: 22px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
       
        color: #181617;
      }

      .loyalty {
        font-family: Jost;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: left;
        color: #181617;
        margin-left: auto;
      }
    }

    .color {
      font-family: Jost;
      font-size: 18px;
      font-weight: 700;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.22;
      letter-spacing: normal;
      text-align: left;
      margin-top: 45px;
      margin-bottom: 45px;

      .title {
        font-weight: 500;
        color: #161616;
      }

      .text {
        color: #8f8c8c;
      }

      .options {
        margin-left: 27px;
        .option {
          display: inline-block;
          width: 13px;
          height: 13px;
          margin: 2px;
          background-color: #b28965;
          border-radius: 50%;
          // box-shadow: 0px 0px 0px 1px #ffffff inset;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            transform: scale(1.25);
            filter: brightness(80%);
          }
          &_red {
            background-color: #e45850;
          }
          &_blue {
            background-color: #23a7f3;
          }
          &_oranage {
            background-color: #f58c30;
          }
          cursor: pointer;
        }
      }
    }

    .size {
      margin-top: 45px;
      margin-bottom: 23px;
      .title {
        font-size: 14px;
        font-weight: 800;
        color: #161616;
      }

      .options {
        .option {
          border: solid 1px #c8c0c0;
          font-size: 14.5px;
          font-family: Roboto;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.83;
          letter-spacing: normal;
          color: #323131;
          height: 28px;
          width: 44px;
          cursor: pointer;
          &:hover {
            background-color: #f5f5f5;
          }
        }
      }
    }

    .outOfStock {
      margin-top: 22px;

      .icon {
        width: 23.4px;
        height: 23.4px;
        background-color: #181617;
        border-radius: 50%;
        span {
          color: white;
          font-size: 14px;
        }
      }
    }
    .text {
      font-family: Jost;
      font-size: 14px;
      font-weight: 700;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.57;
      letter-spacing: normal;
      text-align: left;
      color: #181617;
    }

    .sizeHelp {
      font-family: Jost;
      font-size: 16px;
      font-weight: 700;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.37;
      letter-spacing: normal;
      text-align: left;
      color: #181617;
      margin-top: 21px;
      margin-bottom: 57px;
    }

    .sku {
      margin-top: 5px;
      font-family: Jost;
      font-size: 14px;
      font-weight: 700;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      margin-left: auto;

      .title {
        font-weight: 500;
        color: #161616;
      }

      .text {
        color: #8f8c8c;
      }
    }
    .w80 {
      max-width: 80%;
      .stats {
        margin: 57px 0px 47px 0px;

        .icon {
          display: flex;
          width: 35px;
          height: 35px;
          background-color: #f3f3f3;
          border-radius: 50%;
          align-items: center;
          justify-content: center;
        }

        .title {
          font-family: Jost;
          font-size: 15px;
          font-weight: 700;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.47;
          letter-spacing: normal;
          text-align: left;
          color: #181617;
        }

        .text {
          font-family: Jost;
          font-size: 12px;
          font-weight: 700;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.83;
          letter-spacing: normal;
          text-align: left;
          color: #181617;
        }
      }
    }

    .actions {
      .qty {
        font-family: Jost;
        font-size: 16px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.37;
        letter-spacing: normal;
        text-align: left;
        color: #161616;

        .title {
          margin-right: 18px;
        }

        .counter {
          width: 170px;
          height: 35px;
          padding: 7.1px 17px 3.9px 15px;
          border: solid 1px #dfdddd;
          background-color: #ffffff;
        }
      }

      .availabilty {
        margin-top: 5px;
        font-family: Jost;
        font-size: 14px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        margin-left: auto;

        .title {
          font-weight: 500;
          color: #161616;
        }

        .text {
          color: #8f8c8c;
        }
      }

      .addToCart {
        width: 100%;
        button {
          width: 100%;
          height: 41px;
          padding: 11px 56.7px 10px 71.5px;
          background-color: #181617;
          font-family: Jost;
          font-size: 17px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.35;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
          border: none;
          cursor: pointer;
        }
      }

      .wishlist {
        width: 55px;
        cursor: pointer;
      }

      .other {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-family: Jost;
        font-size: 16px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.44;
        letter-spacing: normal;
        text-align: left;
        color: #151515;

        .icon {
          width: 22px;
          height: 22px;
          object-fit: contain;
          margin-bottom: 20px;
        }
      }
    }
  }
}
.socialMediaPopper {
  top: 300px  !important;
  left: unset !important;
  right: 0px !important;
  padding: 10px !important;
  cursor: pointer;
}

.labelName {
  margin-left: 13px;
  font-weight: normal;
  white-space: nowrap;
}
.labelContainer {
  display: flex;
  margin-left: 15px;
}

//review styles

.reviewTextArea {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  label {
    font-family: Roboto;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: left;
    color: #6a6565;
    margin-bottom: "5px";
  }
}
.desc {
  width: 658px;
  height: 113px;
  padding-left: 5px;
  padding-top: 5px;
}
.reviewInput {
  width: 658px;
  height: 51px;
  padding-left: 5px;
}

.reviewPro {
  margin-top: 20px;
  margin-bottom: 20px;
}

.reviewSubmit {
  width: 116px;
  height: 41px;
  margin-top: 25px;
  padding: 12px 31px 11px 31px;
  background-color: #000;
  color: white;
  cursor: pointer;
}

.secWrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.avg {
  display: flex;
  align-items: center;
  background-color: #f0f0f1;
  width: 46px;
  height: 24px;
  /* padding: 2px; */
  padding-right: 54px;
}
.sectionWrapOne {
  display: flex;
  align-items: center;
}
.mapReview {
  display: flex;
  align-items: center;
  background-color: green;
  /* width: 10px; */
  height: 25px;
  padding-right: 7px;
  border-radius: 3px;
}

.nameDateWrap{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.likeDislike{
  display: flex;
}
.reviewName{
  margin-left: 35px;
}
.nameDate{
  margin-top: 18px;
  margin-bottom: 18px;
}
.dislikeThumb{
  margin-left: 10px;
  display: flex;
}
.dateSpan{
  opacity: 0.36;
}
.numLike{
  padding-top: 2px;
  padding-left: 4px;
}
.reviewCls {
  position: absolute;
  right: 2%;
  font-size: 25px;
  border: none;
  background: transparent;
  cursor: pointer
}