.cardStyle {
  position: relative;
  flex-basis: 30%;

  .closeStyle {
    right: 1px;
    top: 1px;
    z-index: 1;
  }

  .imgContainer_P {
    overflow: hidden;
    margin: -8px;
    padding: 8px;
    position: relative;
    display: flex;
    .imgContainer {
      position: relative;
      padding-bottom: 100%;
      position: relative;
      -webkit-box-flex: 1;
      flex-grow: 1;
      height: 24rem;
      img {
        position: absolute;
        inset: 0px;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        background-color: rgb(255, 255, 255);
        filter: brightness(0.975);
        object-fit: contain;
      }
    }
  }
}
.boldFont{
  font-weight: bold;
}