.wholeOutfit {
  .header {
    height: 27px;
    font-family: Roboto;
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.85;
    letter-spacing: normal;
    text-align: left;
    color: #161616;
  }

  .sections {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    grid-gap: 20px;

    .primaryProduct {
      width: 100%;

      .name {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: normal;
        text-align: left;
        color: #181617;
      }

      .sku {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: left;
        color: #8f8c8c;
      }

      .description {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
        color: #6b6868;
      }
    }

    .cart {
      margin-left: 30px;
      .header {
        font-family: Roboto;
        font-size: 17px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.02;
        letter-spacing: normal;
        text-align: center;
        color: #161616;
      }

      .selectedCount {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.24;
        letter-spacing: normal;
        text-align: center;
        color: #161616;
      }

      .addToCart {
        height: 32px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #181617;
        cursor: pointer;

        .text {
          font-family: Roboto;
          font-size: 13px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.34;
          letter-spacing: normal;
          text-align: left;
          color: #fbfbfb;
        }
      }

      .pie {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        margin: 20px;
      }

      .discount {
        .name {
          font-family: Roboto;
          font-size: 13px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.34;
          letter-spacing: normal;
          text-align: left;
          color: #595757;
        }

        .total {
          font-family: Roboto;
          font-size: 14px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.24;
          letter-spacing: normal;
          text-align: left;
          color: #595757;
        }
      }
    }
  }
}

.checkboxCancelBtn{
  position: absolute;
  top: 13%;
  left: 830%;
}