.user-sign-in-form {
  width: 10rem;
  margin-top:1rem;
}
.user-sign-in-form {
  div {
    display: flex;
    flex-direction: column;
  }
  input {
    height: 2.5rem;
    width: 25rem;
    margin:0.51rem 0rem;
    padding-left: 5px;
  }
  section {
    display: flex;
  
    justify-content: space-between;
  }
  label{
      color: gray;
  }
}
.registration-form-wrapper{
    // border: 1px solid black; 
    width: 35rem;
    // margin: auto;
    // padding: 1rem 1rem;
}
.registration-submit-btn-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0rem;
}
.registration-btn {
    width: 154px;
    height: 41px;
    padding: 3px 3px;
    background-color: black;
    border: none;
    color:#fff;
    font-size: 15px;
}
.cat-circle {
  margin-left: 3px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  float: left;
  margin-left: -65px;
  div {
    cursor: pointer;
  }
}
.inner-form-wrapper{
  border: 1px solid black;
  width: 55rem;
  padding: 1rem 1rem;
}
.profile-label{
  color: black !important;
}
.inputCalender{
  width:24px;
  height:24px;
  position:absolute;
  top:48%;
  right:3%;
}