.btn {
  border: none;
  display: flex;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  cursor: pointer;
  background-color: black;
  color: white;
  margin: 5px;
  width: 35px;
  height: 35px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  &:hover {
    color: #ff9a9a;
    border-color: #ff9a9a;
  }
}
.filterBtn{
  border: none;
  display: flex;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  cursor: pointer;
  background-color: white;
  color: white;
  margin: 5px;
  width: 35px;
  height: 35px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.top {
  position: absolute;
  right: 20px;
  top: 20px;
}
