@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Dancing+Script&display=swap&family=Jost");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}
a {
  color: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.logo-image {
  max-width: 11rem;
  object-fit: contain;
  cursor: pointer;
}
.loadingLanding {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  width: 100px;
  color: #d64444;
  margin: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.loadingLanding span {
  position: absolute;
  height: 10px;
  width: 84px;
  top: 50px;
  overflow: hidden;
}
.loadingLanding span > i {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  -webkit-animation: wait 4s infinite;
  -moz-animation: wait 4s infinite;
  -o-animation: wait 4s infinite;
  animation: wait 4s infinite;
}
.loadingLanding span > i:nth-of-type(1) {
  left: -28px;
  background: yellow;
}
.loadingLanding span > i:nth-of-type(2) {
  left: -21px;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  background: lightgreen;
}
.loadingLanding span > i:nth-of-type(3) {
  left: -28px;
  background: red;
}
@-webkit-keyframes wait {
  0% {
    left: -7px;
  }
  30% {
    left: 52px;
  }
  60% {
    left: 22px;
  }
  100% {
    left: 100px;
  }
}
@-moz-keyframes wait {
  0% {
    left: -7px;
  }
  30% {
    left: 52px;
  }
  60% {
    left: 22px;
  }
  100% {
    left: 100px;
  }
}
@-o-keyframes wait {
  0% {
    left: -7px;
  }
  30% {
    left: 52px;
  }
  60% {
    left: 22px;
  }
  100% {
    left: 100px;
  }
}
@keyframes wait {
  0% {
    left: -7px;
  }
  30% {
    left: 52px;
  }
  60% {
    left: 22px;
  }
  100% {
    left: 100px;
  }
}

.card-number-frame,
.cvv-frame,
.expiry-date-frame {
  height: 4rem;
}
.navbar_container__3KxOu {
  // margin: 46px 0 36px 0;
  color: #181617;
  font-size: 14px;
  font-family: Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  line-height: 1.5;
  font-weight: 500;
  text-transform: uppercase;
}

.categoriesSlider .slick-prev::before,
.categoriesSlider .slick-next:before {
  font-family: sans-serif !important;
  background-color: #000000 !important;
  width: 37px;
  height: 37px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 2rem;
  padding-bottom: 8px;
}
.basicSlider .slick-prev::before,
.basicSlider .slick-next:before {
  font-family: sans-serif !important;
  background-color: #181617;
  width: 30px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 2rem;
  padding-bottom: 8px;
}
.MuiDialog-paperWidthSm {
  max-width: 704px !important;
}
.legend {
  width: 100% !important;
  height: 71px;
  padding: 0;
  margin: 0;
  bottom: 0px !important;
  margin-left: -50% !important;
  border-radius: 0px !important;
  background-color: #fff !important;
  color: black !important;
  opacity: 0 !important;
}

.css-heg063-MuiTabs-flexContainer {
  // display: grid !important;
  // grid-template-columns: 1fr 1fr 1fr !important;
}
apple-pay-button {
  --apple-pay-button-width: 140px;
  --apple-pay-button-height: 30px;
  --apple-pay-button-border-radius: 5px;
  --apple-pay-button-padding: 5px 0px;
}

.control-arrow {
  display: block !important;
  opacity: 1 !important;
  top: 39%;
  bottom: 39%;
  font-size: 12rem !important;
  &:hover{
    background: transparent !important;
  }
}
.carousel.carousel-slider .control-arrow{
  top: 40% !important;
  bottom: 40% !important;
}
.carousel .control-prev.control-arrow:before{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  width: 1rem;
  height: 1rem;
}

.carousel .control-next.control-arrow:before{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 1rem;
  height: 1rem;
} 

.PhoneInputCountrySelect{
  width: 100%;
  line-height: 20px;
}





.container {
  height: 40px;
  align-items: flex-start;
  .link {
    margin: 0 10px;
  }
  .megaLink {
    color: $color-black;
    cursor: pointer;
  }
  .megaLink {
    padding: 0px 5px;
    cursor:pointer;
   
    span {
      font-family: Roboto;
      font-size: 15px;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.47;
      letter-spacing: normal;
      text-align: left;
      transition: all 0.3s ease-in-out;
      border-bottom: 1px solid transparent;
      font-weight: normal;
      color: #000;
      font-family: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande',
        sans-serif;
      text-transform: uppercase;
    }
    &:hover {
      span {
        border-color: $color-black;
      }
    }
    &:focus {
      span {
        border-color: $color-black;
      }
    }
  }

  .megaContainer {
    top: 70%;
    left: 0;
    background-color: #fff;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    max-width: 1750px;
    margin: 0 auto !important;
    left: 50%;
    transform: translate(-50%, 0%);
    box-shadow: -1px 796px 0px 778px rgba(0, 0, 0, 0.5);
  }

  .allProductsCard {
    // width: 50%;
    .allProductsTitleLine {
      margin-top: 5px;
      border: solid 1px #707070;
      margin-bottom: 8px;
    }

    .allProductsTitles {
      max-height: 300px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      line-height: 25px;
      .pLink {
        margin: 2px 0;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        color: #373737;
        transition: all 0.3s ease;
        &:hover {
          color: black !important;
        }
      }
    }
  }
  .show {
    transition: all 0.4s ease;
    opacity: 1 !important;
    visibility: visible !important;
  }
  .megaImg {
    img {
      max-width: 380px;
      max-height: 380px;
      object-fit: contain;
      cursor: pointer;
    }
    a {
      cursor: context-menu !important;
    }
  }
}

.titleDoubleLine {
  height: 1px;
  margin: 5px 0 2px 0;
  border: solid 0.1px #e1dfdf;
}
.titleDoubleLine_Second {
  height: 1px;
  margin: 1px 0 3px 0;
  border: solid 0.1px #e1dfdf;
}
.titleDoubleLineFilter {
  height: 1px;
  margin: 13px 0px 2px 0px;
  border: solid 0.1px #e1dfdf;
}
.titleDoubleLine_SecondFilter {
  height: 1px;
  margin: 1px 0px 10px 0px;
  border: solid 0.1px #e1dfdf;
}

.mobileNavBar{
  width: 320px;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #dbdbdb;
  box-shadow: 0 0 5px #000;
  position: absolute;
  top:0px;
  overflow: auto;
  transition: all 1s ease-in-out;
}
.mobileNavBar .categoryCircle_categoryTab__VDVf6 {
  margin-left: 0px;
  display: block;
  height: auto !important;
  background:#fff;
}
.mobileNavBar .categoryCircle_categoryTab__VDVf6 div {
  border-bottom: 1px solid #dbdbdb;
  display: inline-block;
  padding: 9px 15px;
  text-align: center;
  width: 33%;
  background: #fff;
}
.mobileNavBar .categoryCircle_categoryTab__VDVf6 div span{
  font-weight: normal;
}
.mobileNavBar .megalinks_megaContainer__2hg5Q.position-absolute.px-75px.pl-100px {
  position: inherit;
}
.mobileNavBar .megalinks_link__29Q-q {
  display: flex;
  align-items: center;
  height: 80px;
}
.mobileNavBar .megalinks_titleDoubleLineFilter__2SuEC,
.mobileNavBar .megalinks_titleDoubleLine_SecondFilter__oP51r,
.mobileNavBar button.bg-black.my-12px.no-border.p-12px.color-white.c-pointer {
  display: none;
} 
.mobileNavBar .megalinks_megaContainer__2hg5Q.position-absolute.px-75px.pl-100px {
  padding: 0 !important;
}
.mobileNavBar  .megalinks_megaImg__2KR1U img {
  height: 80px;
  position: absolute;
  right: 0;
  width: 80px;
  margin-top:-28px;
}
.mobileNavBar .megalinks_allProductsCard__3YdQA {
  display: none !important;
}
.close-Btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  position: fixed;
  left: 340px;
  top: 45px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.mobileNavBar .megalinks_link__29Q-q > a.megalinks_megaLink__z-Il-.p-12px.d-block:after {
  content: " › ";
  position: absolute;
  right: 92px;
  color: #e3e3e3;
  font-size: 27px;
  margin-top: -10px;
  font-weight: normal;
}
.MobileLeftMenu {
  top: 0;
  position: absolute;
  left: 60px;
  display: none;
}
.MobileLeftMenu i {
  font-size: 33px;
}

@media only screen and (max-width: 767px) {
  .MobileLeftMenu {
    display: block;
  }
  .color-grey {
    position: relative;
    /* left: 23rem !important; */
}
.products_catNumber__X10ew {
  display: block;
}
.products_header__lp2RG {
  display: block;
}
}