@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    font-family: 'Roboto', sans-serif;
}

ul, li{
    list-style: none;
} 
a, a:hover, a:focus{
    text-decoration: none;
}
p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

.logo-image{
    max-width: 184px;
    object-fit: contain;
}