.wrap {
  border: 1px solid lightgray;
  margin-bottom: 20px;
  padding: 5px;
  header {
    display: flex;
    background-color: gray;
    align-items: center;
    margin: 3px;
    span {
      color: lightgray;
      background-color: white;
      padding: 10px;
      color: black;
      font-weight: bold;
      margin: 3px;
      border-radius: 10px;
    }
    p {
      color: white;
      padding-left: 1rem;
    }
    .pick{
      padding-bottom: 0.5em;
    }
  }
  
  .formSec {
    form {
      display: flex;
      flex-direction: column;
      width: 40%;
      padding-left: 1rem;
      margin-top: 1rem;
      .cmtLabel {
        color: gray;
      }
      select {
        padding: 10px 0px;
        margin: 10px 0px;
        cursor: pointer;
      }
      textarea {
        margin-bottom: 1rem;
        height: 7rem;
        border: 2px solid gray;
        outline: none;
      }
      small {
        margin: 5px 0px;
      }
      button {
        padding: 10px 0px;
        color: white;
        background-color: black;
        outline: none;
        border: none;
        cursor: pointer;
        width: 40%;
        margin-bottom: 1rem;
      }
    }
  }
}
.addBlk {
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  color: gray;
}

.header {
  display: flex;
  background-color: gray;
  align-items: center;
  margin: 3px;
  margin-bottom: 5px;
  span {
    color: lightgray;
    background-color: white;
    padding: 10px;
    color: black;
    font-weight: bold;
    margin: 3px;
    border-radius: 10px;
  }
  p {
    color: white;
    padding-left: 1rem;
  }
}
.priceWrap{
  line-height: 20px;
  strong{
    margin-bottom: 15px;
  }
}