.inp {
  margin-top: 12px;
  input {
    padding: 12px;
    width: 100%;
    background: transparent;
    border: 1px solid grey;
    color: grey;
    font-size: 1rem;
    &:focus {
      outline: none;
    }
  }
}

.sub {
  margin-top: 12px;
  button {
    border: none;
    background-color: #373636;
    width: 5rem;
    height: 2.8rem;
    color: grey;
    font-size: 1.1rem;
    cursor: pointer;
    @media screen and (max-width:950px) {
      padding: 0.1rem;
    }
  }
}

.outOfstockForm{
  display: flex;
  @media screen and (max-width:950px) {
    display: flex;
    flex-direction: column;
  }
}