.container {
  margin-top: 20px;
  .greyText {
    color: #666464;
  }
  .borderBottom {
    border-bottom: 1px solid #ddd;
    padding-bottom: 4px;
  }
  .grid {
    display: grid;
    margin: 12px;
    grid-template-columns: 2fr 1fr 1fr;
    border-bottom: 1px solid #ddd;
    padding-bottom: 7px;
    opacity: 0.8;
    .col1 {
      .textArea{
        width: 110px;
        height: 35px;
        margin: 0px 0px 11px 11px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: left;
        color: #343232;
      }
      .image {
        padding-right: 12px;
        img {
          max-width: 130px;
          max-height: 130px;
          object-fit: contain;
        }
      }
      .colorSize {
        display: flex;
        span {
          font-size: 14px;
          &:nth-child(1) {
            width: 50px;
            display: inline-block;
          }
        }
      }
    }
    .col2 {
      text-align: center;
    }
  }
}
