.container {
  margin-top: 20px;
  max-height: 20rem;
  overflow: auto;
  .greyText {
    color: #666464;
  }
  .borderBottom {
    border-bottom: 1px solid #ddd;
    padding-bottom: 4px;
  }
  .grid {
    margin: 12px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    .col1 {
      .textArea{
        width: 140px;
        height: fit-content;
        margin: 0px 0px 3px 3px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: left;
        color: #343232;
      }
      .image {
        padding-right: 12px;
        img {
          max-width: 130px;
          max-height: 130px;
          object-fit: contain;
        }
      }
      .colorSize {
        display: flex;
        span {
          font-size: 14px;
          &:nth-child(1) {
            width: 50px;
            display: inline-block;
          }
        }
      }
    }
    .col2 {
      text-align: center;
    }
  }
}
.wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}